* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

header {
    font-size: 60px;
    font-weight: 700;
    font-family: Arial;
    margin: 40px 0px 20px 60px;
    width: 40%;
}

span {
    color: darkblue;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
}

img {
    height: 230px;
    width: 350px;
    float: left;
    margin-right: 20px;
}

div {
    margin: 40px 50px 190px 60px;
}

p,h3 {
    margin-top: 10px;
}

footer {
    text-align: end;
}

/* Media Query for extra small device*/

@media screen and (min-width:1px) and (max-width:480px) {
    header {
        text-align: center;
        font-size: 50px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        display: grid;
        grid-template-columns: 100%;
    }

    img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        height: 140px;
        width: 210px;
    }

    div {
        margin-bottom: 10px;
        text-align: center;
    }
}

/* Media Query for small device*/

@media screen and (min-width:481px) and (max-width:768px) {
    header {
        text-align: center;
        font-size: 50px;
        width: 69%;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        display: grid;
        grid-template-columns: 100%;
    }

    img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
    }

    div {
        margin-bottom: 10px;
        text-align: center;
    }

}

/* Media Query for medium device*/
@media screen and (min-width:769px) and (max-width:1024px) {
    header {
        text-align: center;
        font-size: 50px;
        width: 69%;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        display: grid;
        grid-template-columns: 100%;
    }

    img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
    }

    div {
        margin-bottom: 10px;
        text-align: center;
    }

}

/* Media Query for large device*/
@media screen and (min-width:1025px) and (max-width:1200px) {
    header {
        font-size: 50px;
        width: 55%;
        margin: 40px 0px 20px 60px;
    }

    section {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
    }

    div {
        margin-bottom: 70px;
        text-align: center;
    }

}

